.button
  height: 40px
  background-color: #cdf7ff
  border: none
  border-radius: 5px
  cursor: pointer
  transition: background-color .1s ease!important
  color: #202020
  &:hover, &:focus
    background-color: #a3e2ff!important
  &:active
    background-color: #cdf7ff!important
  @media screen and (width <= 650px)
    height: 60px!important