.button
  height: 40px
  background-color: #cdf7ff
  border: none
  border-radius: 5px
  cursor: pointer
  transition: background-color .1s ease
  color: #202020
  &:hover, &:focus
    background-color: #a3e2ff
  &:active
    background-color: #cdf7ff
  &:disabled
    background-color: #d8eaff
    &:hover, &:focus, &:active
      background-color: #d8eaff
  @media screen and (width <= 650px)
    height: 60px!important

.DELETE
  border: none
  background: none
  color: red
  cursor: pointer
  outline-color: black
  &:hover
    background: none !important
  &:focus
    background: none
    border-radius: 2px
    outline: 2px solid black
  &:active
    outline: none


.load
  animation: 1.5s loop infinite linear

@keyframes loop
  0%
    transform: rotate(0)
  100%
    transform: rotate(-360deg)